<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Ingreso de Sesion</h1>
    <form action="/login" method="POST">
        <label for="cedula">Cédula:</label>
        <input type="text" name="cedula" required>
        
        <label for="correo">Correo:</label>
        <input type="email" name="correo" required>
        
        <button type="submit">Login</button>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>
